body {
  font-size: 22px;
  line-height: 34px;
}

nav,
header {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #FFFFFF;

  background-color: #FD739C;
}

nav {
  margin-bottom: 24px;
}

header {
  padding-top: 96px;
  padding-bottom: 40px;
} 

main {
  margin-bottom: 40px;
}

h1,
h2 {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
  margin: 0;

  line-height: 1.25;
}

h2 {
  margin-top: 48px;
  margin-bottom: 16px;
}

h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}

p {
  margin-bottom: 16px;
  padding: 0;
}

ul {
  padding: 0;

  list-style: square
}

section {
  margin-top: 72px;
}

a {
  color: #FD739C;
  text-decoration: none;

  border-bottom: 2px solid rgba(253, 115, 156, .3);
}

a:hover {
  border-bottom: 2px solid rgba(253, 115, 156, .6);
}

nav a {
  color: #FFFFFF;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, .3);

  transition: border .2s ease;
}

nav a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, .8);
}